<p-toolbar >
    <ng-template
    pTemplate="start"
    class="flex-none flex align-items-center justify-content-center font-bold px-3 border-round"
  >
    <h2 class="topBarHeading">DropZone</h2>
  </ng-template>
  <ng-template pTemplate="center">
    <nav
    class="topBarTrigger__box flex-none flex align-items-center justify-content-center font-bold px-3 border-round"
  >
    <h4 style="padding-right: 15px;">Home</h4>
    <br>
    <h4 style="padding-right: 15px;">Services</h4>
    <br>
    <h4 style="padding-right: 15px;">Contact Us</h4>
    <br>
    <h4 style="padding-right: 15px;">About Us</h4>
  </nav>
  </ng-template>
  <ng-template pTemplate="end">
    <nav
      class="topBarTrigger__box flex-none flex align-items-center justify-content-center font-bold px-3 border-round"
    >
    
    <h4>2024-25 Copyrights Reserved</h4>
      
    </nav>
  </ng-template>
</p-toolbar>