.generated_propic {
  width: 236px;
  height: 236px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 14px;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: 1px;
  font-size: 11px;
  background: #ffffff;
  padding: 1px 8px;

  font-family: cursive;
  border-radius: 22px;
  color: #000000;
}
.p-inputtext:enabled:focus {
  outline: 1px solid black;
  outline-offset: -1px;
  box-shadow: none;
  border-color: #52525b;
}

.p-inputtext {
  font-family: cursive;
}

.p-inputtext:-webkit-autofill,
.p-inputtext:-webkit-autofill:hover,
.p-inputtext:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #00000000 inset !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 5000s ease-in-out 0s;
  font-family: cursive;
}
