@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");
.text {
  font-family: "Doto";
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "ROND" 0;
  font-size: 189px;
}

.marquee {
  display: flex;
  overflow: hidden;
  gap: 5rem;
  position: relative;
  user-select: none;
}

.marquee-content {
  display: flex;
  justify-content: space-around;
  min-width: 150%;
  gap: 8rem; /* match to gap above */
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem)); /* match 1 rem to gap above */
  }
}

.scroll {
  animation: scroll 10s linear infinite;
}
