<div class="flex " style="
    height: 48px;">
  <nav
    class="flex-none flex align-items-center justify-content-center font-bold px-3 border-round"
  >
    <h2 class="topBarHeading">Dropzone</h2>
  </nav>
  <p-tabMenu
    class="topBarNavItems flex-grow-1 flex align-items-center justify-content-center font-bold px-1 border-round"
    [model]="items"
    [activeItem]="activeItem"
    (activeItemChange)="onActiveItemChange($event)"
  />
  <nav
    class="topBarTrigger__box flex-none flex align-items-center justify-content-center font-bold px-3 border-round"
  >
    <a href="cart"><i class="cart_logo pi pi-shopping-cart"></i></a>
    
  </nav>
</div>
<div class="Products__Listing__page">

</div>