<div class="card auth-page lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>

<div class="auth-card p-1">
  <div class="pt-3 pl-2 pb-2 flex auth-card-top-header flex-row"><div class="flex"><img src="../../../../assets/parachute.png" height="36px" width="36px" alt=""></div><div class="flex"><h3 style="margin: 0px;padding: 0px;">DropZone</h3></div></div>
  
  <div class="pl-3 pt-3 auth-card-header">Register</div>
  <div class="pl-3 pb-2 auth-card-subheader"><p>Join for exclusive deals and perks</p></div>
  <div class="p-1 flex flex-column auth-card-content" *ngIf="!mode">
    
    <ng-input-box
      [form]="form"
      [marginBottom]="'10px'"
      [width]="'100%'"
      label_color="black"
      tabindex="1"
      input_bg="transparent"
      input_color="#222222"
      color="black"
      class="w-full pl-3 pr-3 pb-2"
      [fieldIconName]="'pi pi-envelope'"
      [fieldId]="'register_email'"
      [fieldLabel]="'E-mail'"
      [inputType]="'email'"
    >
    </ng-input-box>
    <div class="flex pl-3 pr-3 pb-3 gap-3 w-full flex-row  justify-content-center align-items-center">
      <div class="flex w-full ">
        <ng-input-box
        [form]="form"
        [width]="'100%'"
        label_color="black"
        input_bg="transparent"
        input_color="#222222"
        tabindex="2"
        color="black"
        class=" w-full "
        [fieldIconName]="'pi pi-user'"
        [fieldId]="'register_firstname'"
        [fieldLabel]="'First Name'"
        [inputType]="'text'"
      >
      </ng-input-box>
      </div>
      <div class="flex w-full ">
        <ng-input-box
        [form]="form"
        [width]="'100%'"
        label_color="black"
        input_bg="transparent"
        input_color="#222222"
        color="black"
        class=" w-full "
        tabindex="3"
        [fieldIconName]="'pi pi-user'"
        [fieldId]="'register_lastname'"
        [fieldLabel]="'Last Name'"
        [inputType]="'text'"
      >
      </ng-input-box>
      </div>
    </div>
    <ng-input-box
    [form]="form"
    [marginBottom]="'10px'"
    [width]="'100%'"
    label_color="black"
    input_bg="transparent"
    input_color="#222222"
    color="black"
    class="w-full pl-3 pr-3"
    tabindex="4"
    [fieldIconName]="'pi pi-key'"
    [fieldId]="'register__password'"
    [toggleMask]="true"
    [fieldLabel]="'Password'"
    [inputType]="'password'"
  >
  </ng-input-box>
    <app-auth-card-button [style]="{'width':'100%'}"  class="pt-2 pl-3 pr-3" Title="Get Started"></app-auth-card-button>
  <div>
    <p class="text-xs">Already user ? <a class="text-blue-500 font-italic" href="login" >Login <i class="text-xs underline text-blue-500 pi pi-arrow-right"></i></a></p>
  </div>
</div>
<div class="p-1 flex flex-column auth-card-content" *ngIf="mode">
    
  <app-auth-card-button [style]="{'width':'100%'}"  class="pt-2 pl-3 pr-3" Title="Get Started"></app-auth-card-button>
<div>
  <p class="text-xs">Already user ? <a class="text-blue-500 font-italic" href="login" >Login <i class="text-xs underline text-blue-500 pi pi-arrow-right"></i></a></p>
</div>
</div>
</div>
</div>
