@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");
.loginPage__Pallete {
  height: 65vh;
  width: 380px;
  margin-top: 80px;
  margin-left: 661px;
  justify-content: right;
}

.loginpage__pallete {
  position: relative;
}
.loginpage__pallete::before {
  content: "";
  position: absolute;
  opacity: 3%;
  background-image: url(https://wallpapercave.com/wp/wp8529249.jpg);
  width: 161%;
  height: 838px;
  background-size: cover;
  border-top-left-radius: 0px;
  box-shadow: 0 0 90px 90px rgba(0, 0, 0, 0.5) inset;
  border-bottom-left-radius: 0px;
  background-color: #fff;
}

.login__pallete {
  margin-top: 173px;
  position: relative;
  margin-left: 36px;
}
.loginPage__welcome {
  padding-bottom: 0px;
  margin-bottom: 14px;
}
.loginPage__fields {
  margin-top: 40px;
  margin-left: -10px;
}
.loginPage__tag {
  font-family: "Comfortaa", cursive;
  font-weight: 100;
  font-size: 15px;
  margin-left: 10px;
  letter-spacing: 0.5px;
}
.loginPage__welcome {
  font-size: 40px;
}


.customStyleCss {    
  display: flex;
  flex-direction: row;
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}



.login__image {
  height: 100%;
  margin: 0px;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  width: 500px;
}

@media (min-height: 880px) {
  .login__image {
    height: 100%;
    margin: -4px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 500px;
  }
}

.login__sideImage {
  width: 500px;
  height: 98vh;
  padding: 0px !important;
}
@media (min-height: 880px) {
  .login__sideImage {
    width: 500px;
    height: 100vh;
    padding: 0px !important;
  }
}



/* Media Queries To Handle Different Screens and sizes */
@media (max-width: 450px ) {
  .customStyleCss {
    display: flex;
    flex-direction: column;
  }

  
  .login__image {
    height: 100%;
    margin: 0px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 100%;
  }

  .login__sideImage {
    width: 100%;
    height: 20vh;
    padding: 0px !important;
  }
}