<script src="https://accounts.google.com/gsi/client" async defer></script>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap"
  rel="stylesheet"
/>
<div class="card auth-page lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>

  <div
    class="auth-card p-1 animate__animated animate__backInDown animate__delay-1s animate__fast"
  >
    <div class="pt-3 pl-2 pb-2 flex auth-card-top-header flex-row">
      <div class="flex">
        <img
          src="../../../../assets/parachute.png"
          height="36px"
          width="36px"
          alt=""
        />
      </div>
      <div class="flex">
        <h3
          style="
            font-family: 'Doto', serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-variation-settings: 'ROND' 0;
            margin: 0px;
            padding: 0px;
            font-size: 35px;
          "
        >
          DropZone
        </h3>
      </div>
    </div>

    <div
      class="pl-3 pt-3 auth-card-header animate__animated animate__lightSpeedInRight animate__delay-2s"
    >
      Log in
    </div>
    <div
      class="pl-3 pb-1 font-semibold animate__animated animate__lightSpeedInRight animate__delay-2s auth-card-subheader"
    >
      <p>Access your exclusive shopping experience</p>
    </div>
    <div class="p-1 flex flex-column auth-card-content">
      <ng-input-box
        [form]="form"
        [width]="'100%'"
        label_color="black"
        input_bg="transparent"
        input_color="#222222"
        color="black"
        class="w-full pl-3 animate__animated animate__flipInX animate__delay-3s pr-3 pt-1"
        [fieldIconName]="'ph ph-microsoft-outlook-logo'"
        [fieldId]="'login__email'"
        [fieldLabel]="'E-mail'"
        [ngClass]="{
          'ng-invalid': form.invalid || (form.dirty && form.invalid),
        }"
        errorMessage="Email is Required"
        HelperText="Enter a valid email address (e.g. name@example.com)"
        [inputType]="'email'"
        (blur)="checkEmail()"
      >
      </ng-input-box>
      <ng-input-box
        [form]="form"
        [width]="'100%'"
        label_color="black"
        input_bg="transparent"
        [hidden]="isEmailRegistered"
        input_color="#222222"
        class="w-full pl-3 animate__animated animate__flipInX pr-3 pt-4"
        color="black"
        errorMessage="Password is Required"
        [fieldIconName]="'ph ph-password'"
        [fieldId]="'login__password'"
        [fieldLabel]="'Password'"
        HelperText="Use the password associated with your account"
        [inputType]="'password'"
      >
      </ng-input-box>
      <app-email-auth-button
        [loading]="loading"
        (click)="onFormSubmit()"
        class="pt-4 pl-3 pr-3 w-full animate__animated animate__flipInX animate__delay-3s"
      ></app-email-auth-button>

      <p-divider
        class="w-full pt-3 pl-2 pr-2 animate__animated animate__flipInX animate__delay-3s"
        layout="horizontal"
        [style]="{ backgroundColor: 'white' }"
        [align]="'center'"
      >
        <b>OR</b>
      </p-divider>
      <div
        class="flex flex-row align-items-center justify-content-center gap-5 pt-1"
      >
        <app-google-auth-button
          [show]="false"
          [loading]="false"
          class="animate__animated animate__flipInX animate__delay-3s"
          (click)="signInWithGoogle()"
        ></app-google-auth-button>
        <app-github-auth-button
          [show]="false"
          [loading]="false"
          class="animate__animated animate__flipInX animate__delay-3s"
          (click)="signInWithGithub()"
        ></app-github-auth-button>
      </div>
      <div class="pt-2 animate__animated animate__flipInX animate__delay-3s">
        <p class="text-xs flex-end font-semibold">
          New to Dropzone ?
          <a
            class="text-blue-500 font-italic font-medium"
            href="auth/register?mode=all"
            >Get Started
            <i class="text-xs underline text-blue-500 pi pi-arrow-right"></i
          ></a>
        </p>
      </div>
    </div>
  </div>
</div>
<p-toast
  key="confirm"
  (onClose)="onClose()"
  [breakpoints]="{
    '600px': { width: '85%', right: '5%', left: '10%' },
  }"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="headless">
    <section
      class="pl-5 flex flex-column sm:flex-row p-2 gap-2 w-full bg-black-alpha-90 shadow-2 border-round-lg"
    >
      <app-not-user-svg
        class="w-3rem h-3rem mx-auto sm:mx-0 hidden lg:block xl:block md:block"
      ></app-not-user-svg>
      <div class="flex flex-column gap-2 w-full">
        <p
          class="m-0 font-semibold text-base text-center sm:text-left line-height-3 text-red-500"
        >
          {{ message.summary }}
        </p>
        <div class="flex flex-column gap-1">
          <p-progressBar
            [value]="progress"
            [showValue]="false"
            [style]="{ height: '4px' }"
          />
          <label class="text-center sm:text-right text-xs text-white-alpha-90">
            Redirecting in {{ timeProgress }} sec...
          </label>
        </div>
        <div class="flex justify-content-center sm:justify-content-end">
          <p-button
            label="Cancel"
            [text]="true"
            icon="pi pi-times"
            styleClass="text-white px-2 py-1 bg-red-900"
            (onClick)="onClose()"
          />
        </div>
      </div>
    </section>
  </ng-template>
</p-toast>

<p-toast key="other" class="pl-9 sm:pl-6 md:pl-5 lg:pl-0 xl:pl-0"> </p-toast>
