@import "primeng/resources/themes/viva-dark/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/* @import '~@taiga-ui/core/styles/taiga-ui-dark.css'; */
/* @import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less'; */
html,
body {
  /*background-image: url("assets/bg-img.gif");*/
  background: black;
  color: white;
  margin: 0px;
  padding: 0px;
}

.p-button-outlined {
  padding: 6px 20px;
  margin-top: 4px;
}

.p-inputtext {
  background: #222222;
  height: 39px;
  padding: 0px 12px 0px 37px;
}
.p-inputtext:enabled:focus {
  border: 1px solid blue !important;
  box-shadow: 0 0 0 0rem;
}
input:-internal-autofill-selected {
  appearance: none !important;
  background-image: none !important;
  background-color: transparent !important;
  color: inherit !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background: transparent !important;
  color: white;
  margin: 0px;
  text-decoration: none;
  border: 10px solid #141a21 !important;
  border-width: 0 0 4px 0 !important;
  border-top-right-radius: 0px;
  border-bottom: 0px;
  border-top-left-radius: 0px;
}
.p-tabmenu .p-tabmenu-nav {
  background: transparent !important;
  color: white;
  margin: 0px;
  text-decoration: none;
  border: 10px solid #000000 !important;
  border-width: 0 0 4px 0 !important;
  border-top-right-radius: 0px;
  border-bottom: 0px;
  border-top-left-radius: 0px;
}
.p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem
  .p-menuitem-link
  .p-menuitem-link-active {
  background: transparent !important;
  color: rgb(222, 14, 14);
  margin: 0px;
  text-decoration: none;
  border: 10px solid #141a21 !important;
  border-width: 0 0 4px 0 !important;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.p-tabmenu .p-tabmenu-nav {
  border: 0px solid transparent !important;
  border-width: 0 0 0 0 !important;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.p-button:focus {
  box-shadow: none;
}

.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next {
  color: black;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: red;
}
