@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
html,
body {
  /*background-image: url("assets/bg-img.gif");*/
  background: black;
  color: white;
  margin: 0px;
  padding: 0px;
}

.p-button-outlined {
  padding: 6px 20px;
  margin-top: 4px;
}

.p-inputtext {
  background: #222222;
  height: 39px;
  padding: 0px 12px 0px 37px;
  color: #919191;
}
.p-inputtext:enabled:focus{
  border: 1px solid blue !important;
  box-shadow: 0 0 0 0rem;
}
