<div
  [style]="{
    marginTop: marginTop,
    marginBottom: marginBottom,
    marginLeft: marginLeft,
  }"
  class="ng-submit-button"
></div>
<p-button
  pFocusTrap
  [style]="{
  'background-image': 'linear-gradient(90deg,#6220fb,#7353d4)',
    'border-radius': '0px',
    color: 'black',
    'justify-content': 'center',
    width: '265px',
    border: '0px',
    transform: 'translate3d(74px, -69px, 8px)',
  }"
  class="p-button-submit"
  [loading]="loading" 
  [type]="type"
  >{{ label }}
  <i
    [style]="{ marginLeft: '10px' }"
    class="pi pi-arrow-right"
  ></i
></p-button>
