<div
  [style]="{
    marginTop: marginTop,
    marginBottom: marginBottom,
    marginLeft: marginLeft,
  }"
  class="ng-submit-button"
></div>
<p-button
  pFocusTrapDisabled
  [style]="{
    background: 'yellow',
    'border-radius': '0px',
    color: 'black',
    'justify-content': 'center',
    width: '265px',
    border: '0px',
    transform: 'translate3d(75px, -63px, -10px)',
  }"
  class="p-button-submit"
  [type]="type"
  >{{ label }}
  <i
    [style]="{ marginLeft: '10px' }"
    class="pi pi-arrow-right"
  ></i
></p-button>
